[buildout]
parts = python django
develop = .
eggs = django-basic-tumblelog

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = djangorecipe
version = 1.0.2
project = tumblelog
projectegg = tumblelog
settings = testsettings
test = tumblelog
eggs = ${buildout:eggs}