{% extends "tumblelog/base_tumblelog.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% endblock %}

{% block content_title %}
	<h2>{% trans "Tumblelog" %}</h2>
{% endblock %}

{% block content %}
	<div id="tumblelog_posts">
	{% for post in posts.object_list %}
		{% include "tumblelog/_post.html" %}
	{% endfor %}
	</div>
	
	{% if posts.has_other_pages %}
	<div id="pagination">
		<p>
			{% if posts.has_previous %}<a href="{% url tumblelog_index_paginated posts.previous_page_number %}" title="{% trans "Page" %} {{ posts.previous_page_number }}">{% trans "Previous" %}</a>{% endif %}
			{% if posts.has_previous and posts.has_next %}-{% endif %}
			{% if posts.has_next %}<a href="{% url tumblelog_index_paginated posts.next_page_number %}" title="{% trans "Page" %} {{ posts.next_page_number }}">{% trans "Next" %}</a>{% endif %}
		</p>
	</div>
	{% endif %}
{% endblock %}