{% extends "tumblelog/base_tumblelog.html" %}
{% load tumblelog %}

{% block title %}Tumblelog{% endblock %}
{% block body_id %}item_archive{% endblock %}

{% block content_title %}
	<h2>Tumblelog archive</h2>
{% endblock %}

{% block content %}
	<div class="item_list">
		{% for item in object_list %}
			<div>
				<h3 class="title"><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
				<div class="post">{{ item|render_item|safe }}</div>
				<p class="date">Posted {{ item.publish|date:"Y F d" }} at {{ item.publish|date:"P" }}</p>
			</div>
		{% endfor %}
	</div>
	{% if is_paginated %}
		<p class="pagination">
			{% if has_next %}
				<a class="older" href="{% url tumblelog_index_paginated next %}">Older</a>
			{% endif %}
			{% if has_next and has_previous %} | {% endif %}
			{% if has_previous %}
				<a class="newer" href="{% url tumblelog_index_paginated previous %}">Newer</a>
			{% endif %}
		</p>
	{% endif %}
{% endblock %}