{% load i18n %}

{% spaceless %}
	<div class="vevent">
		<table border="0">
			<tr>
				<th>{% trans "Title" %}</th>
				<td class="summary">{{ item.title }}</td>
			</tr>
			{% if item.location %}
				<tr>
					<th>{% trans "Location" %}</th>
					<td>{{ item.location }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>{% trans "When" %}</th>
				<td><abbr class="dtstart" title="{{ item.when|date:"Y-m-d\TH:i:sO" }}">{{ item.when }}</abbr></td>
			</tr>
		</table>
		{% if item.body %}
			<div class="body description">{{ item.body }}</div>
		{% endif %}
	</div>
{% endspaceless %}